.chat-contents__content
  .chat-contents__content__info
    .chat-contents__content__info__name natsumi
    .chat-contents__content__info__date 2018/05/09
  .chat-contents__content__message nice to meet you
