.container

  .left-container

    .nav-header
      .nav-header__name natsumi
      .nav-header__lists
        %i.fa.fa-edit
        %i.fa.fa-gear

    .nav-contents
      .nav-contents__content
        .nav-contents__content__group aaa
        %p
        .nav-contents__content__messages nice to meet you


  .right-container

    .chat-header
      .chat-header__left
        .chat-header__left__title aaa
        .chat-header__left__member Member: natsumi
      .chat-header__right
        .chat-header__right__edit-botton Edit
    .chat-contents
      .chat-contents__content
        .chat-contents__content__info
          .chat-contents__content__info__name natsumi
          .chat-contents__content__info__date 2018/05/09
        .chat-contents__content__message nice to meet you

    .form
      .form__message-box
      %label.form__message-mask
        %i.fa.fa-image
      .form__send-botton send
