//color_background&letter
$white: #FFFFFF;

//color_letter
$black: #333333;
$white-gray: #999999;
$off-black: #434A54;

//color_background
$dark-blue: #253141;
$cobalt-blue: #2f3e51;
$sky-blue: #38AEF0;
$off-gray: #AAAAAA;
$gray: #DDDDDD;

//color_boder
$border-gray:#eeeeee;

//color_other
$alert_orange: #F35500;
$side_header_font: 16px;


